<form class="formLog" name="form" class="form-horizontal" ng-submit="Change(user)"
role="form">
<div class="row ">
    <div class="col-sm-12">
        <h2 class="main-title">
            Change password
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="row space">
            <div class="col-sm-4 ">
                <label for="email">
                    Old Password</label></div>
            <div class="col-sm-8">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control" placeholder="Old Password" ng-model="user.old_password"
                        required focus />
                </span>
            </div>
        </div>
        <div class="row space">
            <div class="col-sm-4 ">
                <label for="password">
                    New Password
                </label>
            </div>
            <div class="col-sm-8">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control" placeholder="New Password" ng-model="user.new_password"
                        required />
                </span>
            </div>
        </div>
        <div class="row space">
            <div class="col-sm-4 ">
                <label for="password">
                    Confirm Password
                </label>
            </div>
            <div class="col-sm-8">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control" placeholder="Confirm Password" ng-model="user.con_password"
                        required />
                </span>
            </div>
        </div>
        <div class="space">
        </div>
        <div class="row space">
            <div class="col-sm-4 ">
            </div>
            <div class="col-sm-4 btn-set text-right">
                <img class="loader_img" src="img/loading_bar (1).gif" id="loader" style="display: none;">
                <button type="submit" class="width-35  btn btn-sm btn-primary">
                    Change
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="space-4">
</div>
<span class="lbl col-sm-3"></span>
</form>
